/node_modules
/public/storage
/public/hot
/public/css/app.css
/public/css/app.*.css
/public/css/vendor.css
/public/css/vendor.*.css
/public/js/app.js
/public/js/app.*.js
/public/js/manifest.js
/public/js/manifest.*.js
/public/js/vendor.js
/public/js/vendor.*.js
/public/uploads/
/storage/*.key
/vendor/*
!/vendor/php-game-server-sdk
/.idea
Homestead.json
Homestead.yaml
/.env
/mysql
npm-debug.log
reports
